<div class="container-fluid bg-text rounded">
<div class="row">
<div class="col">
  <h1 class="display-5 fw-bold">WE DESIGN AND DEVELOPE SOFTWARE</h1>
  <p class="dispaly-6">We build interactive solutions that provide the greatest possible user experience.</p>
  <br>
  <button type="button" class="btn btn-primary btn-lg me-md-3" onClick="document.getElementById('middle').scrollIntoView();">Home</button>
  <button type="button" class="btn btn-primary btn-lg" onClick="document.getElementById('middle').scrollIntoView();">About</button>

</div>
<div class="col1">

</div>
</div>
</div>

<div id="about">
<center>
<h1 class="display-6 fw-bold">ABOUT US</h1>
<div class="rectangle"></div>
</center>
<br>
<p class="text-center">DevFussion delivers digital solutions and services to clients across a wide range of sectors, sizes, and geographical locations, including product design, web and mobile development, business intelligence, and quality assurance, with the goal of making a difference in the digital world. Because of our years of expertise in software design and development, we were able to create scalable, secure, and engaging solutions.</p>
<br><br>
</div>

<div class="container">
<div class="row">

<div class="col-4">
<span class="fa-stack fa-2x">
    <i class="fa-solid fa-square fa-stack-2x"></i>
    <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
</span>
<br><br>
<h4>FULLY RESPONSIVE</h4>
<p>Fully responsive websites for all platforms</p>
</div>

<div class="col-4">
<span class="fa-stack fa-2x">
    <i class="fa-solid fa-square fa-stack-2x"></i>
    <i class="fas fa-code fa-stack-1x fa-inverse"></i>
</span>
<br><br>
<h4 >CLEAN CODE</h4>
<p>Fully responsive websites for all platforms</p>
</div>

<div class="col-4">
<span class="fa-stack fa-2x">
    <i class="fa-solid fa-square fa-stack-2x"></i>
    <i class="fa-solid fa-check fa-stack-1x fa-inverse"></i>
</span>
<br><br>
<h4 >EASY TO CUSTOMIZE</h4>
<p>Fully responsive websites for all platforms</p>
</div>

</div>
</div>
<br><br>