<div class="container-fluid bg-text rounded">
<div class="row">
<div class="col">
  <h1 class="display-5 fw-bold">WE DESIGN AND DEVELOPE SOFTWARE</h1>
  <p class="dispaly-6">We build interactive solutions that provide the greatest possible user experience.</p>
  <br>
  <button type="button" class="btn btn-primary btn-lg me-md-3" onClick="document.getElementById('middle').scrollIntoView();">Home</button>
  <button type="button" class="btn btn-primary btn-lg" onClick="document.getElementById('middle').scrollIntoView();">About</button>

</div>
<div class="col1">

</div>
</div>
</div>

<div id="about">
<center>
<h1 class="display-6 fw-bold">ABOUT US</h1>
<div class="rectangle"></div>
</center>
<br>
<p class="text-center">DevFussion delivers digital solutions and services to clients across a wide range of sectors, sizes, and geographical locations, including product design, web and mobile development, business intelligence, and quality assurance, with the goal of making a difference in the digital world. Because of our years of expertise in software design and development, we were able to create scalable, secure, and engaging solutions.</p>
<br><br>
</div>

<div class="container">
<div class="row">

<div class="col-4">
<div class="card shadow" style="width: 22rem;">
<%=image_tag("1.jpeg", size: "350x180")%>
  <div class="card-body">
    <h5 class="card-title">CLIENT CENTRIC</h5>
    <p class="card-text b">We satisfy our clients by exceeding their expectations of quality and level of service</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
</div>

<div class="col-4">
<div class="card shadow" style="width: 22rem;">
<%=image_tag("2.jpeg", size: "350x180")%>
  <div class="card-body">
    <h5 class="card-title">INNOVATION</h5>
    <p class="card-text b">We satisfy our clients by exceeding their expectations of quality and level of service</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
</div>

<div class="col-4">
<div class="card shadow" style="width: 22rem;">
<%=image_tag("3.jpeg", size: "350x180")%>
  <div class="card-body">
    <h5 class="card-title">TEAM WORK</h5>
    <p class="card-text b">We satisfy our clients by exceeding their expectations of quality and level of service</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
</div>

</div>
</div>
<br><br><br>

<div class="container">
<div class="row">

<div class="col-5">
<h4 class="b">WELCOME TO DEVFUSSION</h4>
<p class="b">We are a digital transformation consultant and software development firm that delivers cutting-edge engineering solutions to Fortune 500 corporations and enterprise clients, assisting them in untangling complicated challenges that constantly arise along their digital evolution journey. We have been an innovative and dependable software engineering partner for world-class businesses since 2020</p>
<div class="text-left"><button type="button" class="btn btn-primary">LEARN MORE</button></div>
</div>



<div class="col-6">
<div class="container-fluid pl-6">
<h4 class="b">OUR EXPERTISE</h4>

<p class="b mt-3">MOBILE APP DEVELOPMENT</p>
<div class="progress">
<div class="progress-bar" style="width:70%">70%</div>
</div>

<p class="b mt-2">WEB DESIGN</p>
<div class="progress">
<div class="progress-bar" style="width:90%">90%</div>
</div>

<p class="b mt-2">RUBY ON RAILS</p>
<div class="progress">
<div class="progress-bar" style="width:80%">80%</div>
</div>
</div>

</div>
</div>
</div>

<br>

<div id="service" class="container">
<br>
<center>
<h1 class="display-6 fw-bold">SERVICES WE PROVIDE</h1>
<div class="rectangle"></div>
</center>
<br><br><br>

<div class="container">
<div class="row">

<div class="col-4">
<div class="card shadow rounded change-color display" style="width: 22rem;">
  <div class="card-body">
  <span class="fa-stack fa-2x">
    <i class="fa-solid fa-square fa-stack-2x"></i>
    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
  </span>
    <h5 class="card-title mt-2">UI/UX DESIGNS</h5>
    <p class="card-text">Our professional product designers and developers work with you to create profitable digital goods</p>
  </div>
</div>
</div>

<div class="col-4">
<div class="card shadow rounded change-color display" style="width: 22rem;">
  <div class="card-body">
  <span class="fa-stack fa-2x">
    <i class="fa-solid fa-square fa-stack-2x"></i>
    <i class="icon-group fa-stack-1x fa-inverse"></i>
  </span>
    <h5 class="card-title mt-2">DEDICATED TEAMS</h5>
    <p class="card-text">Our professional product designers and developers work with you to create profitable digital goods</p>
  </div>
</div>
</div>

<div class="col-4">
<div class="card shadow rounded change-color display" style="width: 22rem;">
  <div class="card-body">
  <span class="fa-stack fa-2x">
    <i class="fa-solid fa-square fa-stack-2x"></i>
    <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
  </span>
    <h5 class="card-title mt-2">BRANDING & MARKETING</h5>
    <p class="card-text">Our professional product designers and developers work with you to create profitable digital goods</p>
  </div>
</div>
</div>

</div>
</div>


<br><br>

<div class="container">
<div class="row">

<div class="col-4">
<div class="card shadow rounded change-color" style="width: 22rem;">
  <div class="card-body">
  <span class="fa-stack fa-2x">
    <i class="fa-solid fa-square fa-stack-2x"></i>
    <i class="fas fa-code fa-stack-1x fa-inverse"></i>
  </span>
    <h5 class="card-title mt-2">MOBILE APPS DEVELOPMENT</h5>
    <p class="card-text">Our professional product designers and developers work with you to create profitable digital goods</p>
  </div>
</div>
</div>

<div class="col-4">
<div class="card shadow rounded change-color" style="width: 22rem;">
  <div class="card-body">
  <span class="fa-stack fa-2x">
    <i class="fa-solid fa-square fa-stack-2x"></i>
    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
  </span>
    <h5 class="card-title mt-2">ECOMMERCE</h5>
    <p class="card-text">Our professional product designers and developers work with you to create profitable digital goods</p>
  </div>
</div>
</div>

<div class="col-4">
<div class="card shadow rounded change-color" style="width: 22rem;">
  <div class="card-body">
  <span class="fa-stack fa-2x">
    <i class="fa-solid fa-square fa-stack-2x"></i>
    <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
  </span>
    <h5 class="card-title mt-2">WORKSHOPS</h5>
    <p class="card-text">Our professional product designers and developers work with you to create profitable digital goods</p>
  </div>
</div>
</div>

</div>
</div>
<br><br>
</div>
<br><br>

<div class="container gfg">
<br>
<h1 class="text-center display-4">More THAN 25 YEARS OF</h1>
<h2 class="text-center color display-5 fw-bold">EXPERIENCE</h2>
<br>

<div class="container">
<div class="row">

<div class="col-3">
<span class="fa-stack color fa-2x">
<i class="fa-solid fa-square fa-stack-2x"></i>
<i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
</span>
<h3 class="mt-2">321 PROJECTS COMPLETED</h3>
</div>

<div class="col-3">
<span class="fa-stack color fa-2x">
<i class="fa-solid fa-square fa-stack-2x"></i>
<i class="fa fa-user fa-stack-1x fa-inverse"></i>
</span>
<h3 class="mt-2">120 WORKERS EMPLOYED</h3>
</div>


<div class="col-3">
<span class="fa-stack color fa-2x">
<i class="fa-solid fa-square fa-stack-2x"></i>
<i class="fas fa-award fa-stack-1x fa-inverse"></i>
</span>
<h3 class="mt-2">19 AWARD WININGS</h3>
</div>


<div class="col-3">
<span class="fa-stack color fa-2x">
<i class="fa-solid fa-square fa-stack-2x"></i>
<i class="fa-solid fa-crown fa-stack-1x fa-inverse"></i>
</span>
<h3 class="mt-2">280 SATISFIED CUSTOMERS</h3>
</div>

</div>
</div>
<br>
</div>

<br>




<br>